extends layout

block content
    header
      h1 Welcome to My Circular Economy Website
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/shop') Shop
        li
          a(href='/sell') Sell
        li
          a(href='/about') Information
        li
          a(href='#') Contact
    main
      h2 Shop for Sustainable Products
      p Find high-quality reusable waste products in our online shop.
      button Shop Now 
      h2 Sell Your Own Reusable Waste Products
      p List your own products for sale and help promote a circular economy.
      button Sell Now
      h2 Learn About Circular Economy Practices
      p Get tips and resources on composting, upcycling, and reducing waste.
      button Read More
    footer
      p &copy; 2023 My Circular Economy Website




