extends layout

block content
  body
    header
      .container
        .logo
          h1 Your Logo
        nav
          ul
            li
              a(href='/') Home
            li
              a(href='/products') Products
            li
              a(href='#') Contact
            li
              a(href='#') About
        .navigation
          a(href='/profile') Profile
          input#logout(type='button' value='')

    .text-image-split
      .text
        h2 Circular Economy
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt eleifend est, eu aliquam nisi consectetur vel. 
        a(href='#') LEARN MORE
        br
        br
        button#shop-now SHOP NOW
      img(src='/images/earth-recycle.jpg', alt='Circular Economy')

    .text-on-image
      img(src='/images/earth-recycle.jpg', alt='Text on Image')
      .overlay
        h2 Circular Economy
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt eleifend est, eu aliquam nisi consectetur vel.
    script(src='/javascripts/authcheck.js')


