doctype html
html
  head
    meta(charset='utf-8')
    title Products
    link(rel='stylesheet' href='/stylesheets/shop.css')
  body
    header
      .container
        .logo
          h1 Your Logo
        nav
          ul
            li
              a(href='/') Home
            li
              a(href='/products') Products
            li
              a(href='#') Contact
            li
              a(href='#') About
        .search
          form(action='#' method='get')
            input(type='text' name='search' placeholder='Search...')
            button(type='submit') Search
        .navigation
          button#sell SELL!
          a(href='/profile') Profile
          a(href='#') Cart
          input#logout(type='button' value='')
    main
      .product-list
        each product in products
          .product-card
            img.image(src=product.image, alt='productImage')
            h2= product.name
            p.description= product.description
            p.price Ksh. #{product.price}
            button.add-to-cart Add to Cart
    script(src='/javascripts/authcheck.js')
    script(src='/javascripts/sell.js')
    footer
      .container
        p Copyright © 2023

