body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 600px 0 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    color: #000;
    text-decoration: none;
}

    nav a:hover {
        text-decoration: underline;
    }

.navigation {
    display: flex;
    align-items: center;
}

    .navigation a {
        color: #4CAF50;
        text-decoration: none;
        margin-right: 30px;
    }

        .navigation a:hover {
            text-decoration: underline;
        }

    .navigation input {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 20px;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        font-weight: bold;
        cursor: pointer;
    }

        .navigation input:hover {
            background-color: #0056b3;
        }

main {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    min-height: calc(100vh - 120px);
}

.loginPrompt {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 25px;
}

    .loginPrompt p {
        padding: 10px;
    }

    .loginPrompt a {
        color: #4CAF50;
        text-decoration: none;
        margin: auto; /*margin-right 30px*/
    }

        .loginPrompt a:hover{
            text-decoration: underline;
        }

p.error {
    color: red;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    table th,
    table td {
        padding: 0.5rem;
        text-align: center;
    }

    table th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    table tbody tr:hover {
        background-color: #ebebeb;
    }

.remove-button {
    background-color: transparent;
    border: 1px solid red;
    border-radius: 2px;
    color: red;
    padding: 2px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

tfoot {
    background-color: #f5f5f5;
}

    tfoot tr td {
        padding: 10px;
        text-align: right;
    }

.checkout-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

    .checkout-button:hover {
        background-color: #d32f2f;
    }

