body {
    font-family: Arial, sans-serif; /*Arial*/
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    color: #000;
    text-decoration: none;
}

    nav a:hover {
        text-decoration: underline;
    }

.search {
    text-align: center;
}

    .search input[type='text'] {
        width: 250px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 20px;
        font-size: 0.9rem;
    }

    .search button[type='submit'] {
        padding: 8px 16px;
        border: none;
        border-radius: 20px;
        background-color: #4CAF50;
        color: #fff;
        font-size: 0.9rem;
        font-weight: bold;
        cursor: pointer;
    }

        .search button[type='submit']:hover {
            background-color: #0056b3;
        }

.navigation {
    display: flex;
    align-items: center;
}

    .navigation a {
        color: #4CAF50;
        text-decoration: none;
        margin: auto 25px auto 0;
    }

        .navigation a:hover {
            text-decoration: underline;
        }

    .navigation button {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 20px;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        font-weight: bold;
        cursor: pointer;
        margin-right: 50px;
    }

    .navigation input {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 20px;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        font-weight: bold;
        cursor: pointer;
    }

        .navigation input:hover {
            background-color: #0056b3;
        }

main {
    display: flex;
    background-color: #fff;
    align-items: center;
    text-align: left;
    height: 60vh;
    /*width: auto;*/
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-price {
    /*flex: 1;*/
    /*border-right: 5px solid #000;*/
    /*max-width: 35%;*/
    flex: 1;
    max-width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
    /*border-right: 2px solid #ccc;*/
}

    .image-price img {
        flex: 1;
        width: auto;
        border-radius: 10px;
    }

.description-quantity {
    flex: 1;
    padding-left: 2rem;
}

    .description-quantity form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 130px;
    }

        .description-quantity form input[type="number"] {
            margin-bottom: 10px;
            width: 30%;
            height: 10px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        .description-quantity form p {
            font-weight: bold;
            font-size: 1.2rem;
        }

        .description-quantity form input[type="submit"] {
            margin-top: 10px;
            padding: 8px 16px;
            border: none;
            border-radius: 20px;
            background-color: #4CAF50;
            color: #fff;
            font-size: 0.9rem;
            font-weight: bold;
            cursor: pointer;
            width: 50%;
        }

            .description-quantity form input[type="submit"]:hover {
                background-color: #0056b3;
            }

.error, .message {
    display: flex;
    align-items: center;
    background-color: #0056b3;
    height: 40px;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-weight: 100;
}

    .error p, .message p {
        padding: 10px;
    }