body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 600px 0 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    color: #000;
    text-decoration: none;
}

    nav a:hover {
        text-decoration: underline;
    }

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 50px auto;/*20px*/
    }

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #3e8e41;
    }

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

p a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

    p a:hover {
        text-decoration: underline;
    }

.error, .message {
    display: flex;
    align-items:center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 25px;
}
    .error p, .message p {
        padding: 10px;
    }

    .message a {
        color: #4CAF50;
        text-decoration: none;
        /*margin-right: 30px;*/
    }

        .message a:hover {
            text-decoration: underline;
        }